.hero{

position:relative;

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.hero::before{

content:"";

position:absolute;

inset:0;

background:url("/images/Balcony.png") center center;

background-size:cover;

transform:scale(1.08);

filter:brightness(.45);

}

.hero::after{

content:"";

position:absolute;

inset:0;

background:linear-gradient(

180deg,

rgba(0,0,0,.65),

rgba(0,0,0,.35),

rgba(0,0,0,.70)

);

}

.hero-content{

position:relative;

z-index:10;

text-align:center;

}
.location{

letter-spacing:10px;

font-size:.85rem;

color:#d9d9d9;

margin-bottom:35px;

text-transform:uppercase;

}

.hero-title{

font-size:clamp(4rem,10vw,8rem);

font-weight:600;

line-height:.95;

margin-bottom:30px;

}

.gold-line{

width:120px;

height:2px;

background:var(--gold);

margin:35px auto;

}

.gold-line{

width:120px;

height:2px;

background:var(--gold);

margin:35px auto;

}

.mouse{

width:34px;

height:56px;

border:2px solid white;

border-radius:40px;

margin:auto;

position:relative;

}

.mouse::before{

content:"";

position:absolute;

width:6px;

height:10px;

background:white;

left:50%;

transform:translateX(-50%);

top:10px;

border-radius:10px;

animation:scroll 2s infinite;

}

@keyframes scroll{

0%{

opacity:0;

transform:translate(-50%,0);

}

40%{

opacity:1;

}

100%{

opacity:0;

transform:translate(-50%,22px);

}

}